<style>
	table {
    border-collapse: collapse;
}

table,th, td {
    border: 1px solid black;
    
}

</style>
<table>
<tr style="font-weight:bold;">
	<th>Title</th>
	<th>Desc</th>
	<th>Code</th>
</tr>
 <% if @category_pos.nil? 

 else  %>
<% @category_pos.each do |post| %>
<tr>
  <td><%= post.title %></td>
  <td><%= post.desc %></td>
  <td><%= post.code %></td>
  </tr>
  <% end %>
<% end %>

</table>
 <%= will_paginate @category_pos %>