<style>
 ul li{
display:inline;
}
ul{
list-style-type:none;

}
#navcontainer { width: 100%; margin: 0 auto; padding:0em 0; font-size: 15px; text-align: center; text-transform: uppercase; }
ul#navlist { text-align: left; list-style: none; padding: 0; margin: 0  auto; width: 70%; }
ul#navlist li { display: block; margin: 0; padding:  0; border-bottom: solid 1px White;}
ul#navlist li a { display: block; width: 100%; padding: 1em 0 1em  0em; border-width: 2px;text-decoration: none; color: White}:;
#navcontainer>ul#navlist li a { width: auto; } ul#navlist li#active a { background: #f0e7d7; color: #800000; }
ul#navlist li a:hover, ul#navlist li#active a:hover { color: #0bd500; background: #ffff;  }
</style>
<br>
<div id="navcontainer">
<ul id="navlist">
<% @categories= Category.all%>
<li><%= link_to "HOME", posts_path%></li>
<%@categories.each do |categories|%>	
<li><%= link_to "#{categories.name}", posts_path(categories.id) %></li>
<% end %>
</ul>
</div>